<html>
  <head>
    <title>Chat</title>
  </head>
  <body>
    <h1>Chat</h1>
    <div id="messages">
      {{#each messages}}

        <p><strong>{{this.user}}:</strong> {{this}}</p>
      {{/each}}
    </div>
    <form id="chat-form" action="#">
      <input
        id="username-input"
        type="text"
        placeholder="Nombre de usuario"
        required
      />
      <input id="message-input" type="text" placeholder="Mensaje" required />
      <button type="submit">Enviar</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io(); const chatForm =
      document.getElementById('chat-form'); const usernameInput =
      document.getElementById('username-input'); const messageInput =
      document.getElementById('message-input'); const messagesDiv =
      document.getElementById('messages'); chatForm.addEventListener('submit',
      (event) => { event.preventDefault(); const username = usernameInput.value;
      const message = messageInput.value; socket.emit('message', { user:
      username, text: message }); console.log(message); messageInput.value = '';
      }); socket.on('message', (msg) => { const messageEl =
      document.createElement('p'); messageEl.innerHTML =
      `<strong>${msg.user}:</strong> ${msg.text}`;
      messagesDiv.appendChild(messageEl); });
    </script>
  </body>
</html>